{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
{{ Article.Title }} by {{ author }}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="card mb-3">
      <div class="card-body">
        <h2 class="card-title">{{ Article.Title }} by {{ author }}</h2>
        <hr>
        <p class="card-text">{{ Article.Text|safe }}</p>
      </div>
    </div>

    {% if user.is_authenticated %}

    <form method="post" action="" class="mt-3 pl-5">
      {% csrf_token %}
      <div class="form-group">
        {{ form.Text.label_tag }}
        {{ form.Text|add_class:"form-control form-control-sm" }}
      </div>
      <div class="form-check mb-3">
        {{ form.Is_Anonymous }}
        {{ form.Is_Anonymous.label_tag }}
      </div>
      <div class="form-check mb-3">
        {{ form.Show_Company }}
        {{ form.Show_Company.label_tag }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% else %}
    <p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
    {% endif %}

    <hr>
    <h3 class="card-title pl-3">Comments:</h3>
    {% for comment in comments %}
    <div class="card mb-3 ml-5">
      <div class="card-body">
        {% if comment.Author %}
        {% if comment.Company %}
        <h5 class="card-title">{{ comment.Author.username }} at {{ comment.Company.Name }}</h5>
        <p class="card-text small">{{ comment.Text }} </p>
        {% else %}
        <h5 class="card-title">{{ comment.Author.username }}</h5>
        <p class="card-text small">{{ comment.Text }} </p>
        {% endif %}
        {% else %}
        {% if comment.Company %}
        <h5 class="card-title">Anonymous at {{ comment.Company.Name }}</h5>
        <p class="card-text small">{{ comment.Text }} </p>
        {% else %}
        <h5 class="card-title">Anonymous </h5>
        <p class="card-text small">{{ comment.Text }} </p>
        {% endif %}
        {% endif %}
      </div>
    </div>
    {% empty %}
    <p>No comments yet.</p>
    {% endfor %}
  </div>

<div class="col-sm-2">
  <div class="card mb-3 text-center">
    <div class="card-body">
      <h5 class="card-title">Score: {{ upvotes }}</h5>
      <form method="post" action="{% url 'upvote_article' id=Article.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm mb-3">Upvote</button>
      </form>
    </div>
  </div>
  {% if user == author %}
  <div class="row">
    <a href="#" type="button" class="btn btn-primary btn-block">Edit article</a>
  </div>
  {% endif %}
</div>

</div>

{% endblock %}
