{% extends "base.html" %}

{% block title %}
{{ Article.Title}} by {{ Author }}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <h2>{{ Article.Title }}</h2>
    <p>{{ Article.Text|safe }}</p>
    <p>Published on {{ Article.Date_Published }}</p>
<hr>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <div class="card mb-3">
      <div class="card-body">
        {% if comment.Author %}
        {% if comment.Company %}
        <h5 class="card-title">{{ comment.Author.username }} at {{ comment.Company.Name }}</h5>
        <p class="card-text small">{{ comment.Text }} </p>
        {% else %}
        <h5 class="card-title">{{ comment.Author.username }}</h5>
        <p class="card-text small">{{ comment.Text }} </p>
        {% endif %}
        {% else %}
        {% if comment.Company %}
        <h5 class="card-title">Anonymous at {{ comment.Company.Name }}</h5>
        <p class="card-text small">{{ comment.Text }} </p>
        {% else %}
        <h5 class="card-title">Anonymous </h5>
        <p class="card-text small">{{ comment.Text }} </p>
        {% endif %}
        {% endif %}
      </div>
    </div>
    {% empty %}
    <p>No comments yet.</p>
    {% endfor %}

    {% if user.is_authenticated %}
    <form method="post" action="" class="mt-3">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% else %}
    <p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
    {% endif %}
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ Article.Title }}</h5>
        <p class="card-text">{{ Author }}</p>
        <a href="{% url 'write_article' %}" class="btn btn-primary">Write article</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
