
<!doctype html>
<html lang="en">
<head>

    <title>{% block title %}RazerIO{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
.dropdown-menu a:hover {
  background-color: #007bff;
  color: #fff;
}
</style>
<style>
    .btn-outline-primary.text-primary:hover {
  color: white; /* Replace "red" with your desired color */
}

</style>

</head>
<body>

    {% if user.is_authenticated %}
<nav class="navbar navbar-expand-sm navbar-light bg-light" style="margin-top: 10px;">
  <a class="navbar-brand">RazerIO</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Me</a>

        <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profile' user.id %}">Profile</a>
          {% if user.Newspaper %}
            <a class="dropdown-item" href="{% url 'newspaper' user.Newspaper.id %}">Newspaper</a>
          {% else %}
            <a class="dropdown-item" href="#">Newspaper</a>
          {% endif %}
        </div>

      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Markets</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'jobs' %}">Jobs</a>
          <a class="dropdown-item" href="#">Remote Contracts</a>
          <a class="dropdown-item" href="#">On-site Contracts</a>
        </div>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programming</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Competitive Programming</a>
          <a class="dropdown-item" href="{% url 'projects' %}">Projects</a>
        </div>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Entrepreneurship</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Startup Funding</a>
          <a class="dropdown-item" href="#">Sales</a>
        </div>

      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0 mr-5" type="submit">Search</button>
    </form>

    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'logout' %}'">Logout</button>

  </div>

</nav>

    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <main>
    {% block content %}
    {% endblock %}
  </main>
  </body>
</html>
