{% extends "base.html" %}
{% block title %}Company Page{% endblock %}

{% block head %}

{% load humanize %}
{% load static %}


<style>
.about-text {
  display: block !important;
}
.show-more {
  display: inline;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="d-inline">{{ Company.Name }}</h1>
            <img src="{{ Company.get_logo_url }}" alt="{{ Company.Name }} logo">

            <div class="float-right">
                {% if user.is_authenticated and user.Company == Company %}
                    <a href="{% url 'edit_company' Company.id %}" class="btn btn-sm btn-primary mb-3">Edit Page</a>
                    <a href="{% url 'edit_history' Company.id %}" class="btn btn-sm btn-secondary mb-3">Recent Changes</a>
                {% endif %}
            </div>
                        {% if Company.IsPublic %}
                <div class="alert alert-primary" role="alert">
                    Company Score: {{ CompanyScore|floatformat:5 }}
<span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="The IO Company score is
a comprehensive evaluation of the company's financials, stability, global reach, R&D, market share, product diversity,
public sentiment, employee satisfaction, ESG score, future outlook and more. Help improve it by leaving a review on the
company.">?</span>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    {% if Company.IsPublic %}
                        <p>Publicly Traded Company</p>
                        <p>Market Cap: ${{ Company.MarketCap|intword }}</p>
                    {% else %}
                        <p>Private Company</p>
                    {% endif %}
                    <p>Industry: {{ Company.get_Industry_display }}</p>
                    <p>Founded: {{ Company.Founded.year }}</p>
                    <p>Headquarters: {{ Company.Headquarters }}</p>
                    <p>Website: <a href="{{ Company.Website }}" target="_blank">{{ Company.Website }}</a></p>
                    <div>
                      <p>About: <span class="about-text">{{ Company.About|safe }}</span></p>
                        <a href="#" class="btn btn-link show-more">Show more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#info" role="tab">Info & Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#ownership" role="tab">Ownership & Notable People</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#jobs" role="tab">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#perks" role="tab">Perks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#health" role="tab">Company Health</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#reviews" role="tab">Reviews</a>
                </li>
            </ul>

      <div class="tab-content">
    <div class="tab-pane active" id="info" role="tabpanel">
        {% if Company.IsPublic %}
          <p>Stock Price: ${{ Company.StockPrice|floatformat:2 }}</p>
          <p>Employee Count: {{ Company.EmployeeCount|intword|intcomma }}</p>
          <p>Annual Revenue: ${{ Company.AnnualRevenue|intword }}</p>
          <p>Annual Profit: ${{ Company.AnnualProfit|intword }}</p>
        <p>Total Assets: ${{ Company.Assets|intword }}</p>
        <p>Total Liabilities: ${{ Company.TotalLiabilities|intword }}</p>
        <p>Net Assets: ${{ Company.NetAssets|intword }}</p>
        <p>Total Debt: ${{ Company.TotalDebt|intword }}</p>
        <p>Cash on Hand: ${{ Company.CashOnHand|intword }}</p>

        {% else %}
          <!-- Display manually entered data for non-public companies -->
          <p>Employee Count: {{ Company.EmployeeCount|intcomma }}</p>
          <p>Industry: {{ Company.get_Industry_display  }}</p>
          {% if CompanyValuation %}
            <p>Latest Valuation: ${{ CompanyValuation.last.value|intword }}</p>
          {% endif %}
        {% if CompanyValuation %}
          <div class="card">
            <div class="card-header">
              Previous Valuations
            </div>
            <div class="card-body">
              {% for valuation in CompanyValuation %}
                <p>{{ valuation.date|date:"F j, Y" }}: ${{ valuation.value|intword }}</p>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="tab-pane" id="ownership" role="tabpanel">
        <h4>Lead Investors</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Organization</th>
                    <th>Value of stock owned</th>
                </tr>
            </thead>
            <tbody>
                {% for owner in LeadInvestors %}
                <tr>
                    <td>{{ owner.name }}</td>
                    <td>${{ owner.amount_invested|intword }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <h4>Notable People</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Title</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    {% for officer in NotablePeople %}
                    <tr>
                <td>{{ officer.name }}</td>
                <td>{{ officer.age|floatformat:"0" }}</td>
                <td>{{ officer.title }}</td>
                <td>${{ officer.salary|intword|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

        <div class="tab-pane" id="jobs" role="tabpanel">
          <!-- Add company jobs content here -->
        </div>
        <div class="tab-pane" id="perks" role="tabpanel">
          <!-- Add company perks content here -->
        </div>
        <div class="tab-pane" id="health" role="tabpanel">

        </div>
            <div class="tab-pane" id="reviews" role="tabpanel">
                <h2>Average Ratings</h2>
                <table class="table table-bordered">
                    <tr>
                        <td>Overall Rating</td>
                        <td>{{ avg_ratings.avg_overall_rating|floatformat:1 }}</td>
                        </tr>
                        <tr>
                        <td>Culture and Atmosphere Rating</td>
                        <td>{{ avg_ratings.avg_culture_and_atmosphere_rating|floatformat:1 }}</td>
                        </tr>
                        <tr>
                        <td>Senior Leadership Rating</td>
                        <td>{{ avg_ratings.avg_senior_leadership_rating|floatformat:1 }}</td>
                        </tr>
                        <tr>
                        <td>Compensation and Benefits Rating</td>
                        <td>{{ avg_ratings.avg_compensation_and_benefits_rating|floatformat:1 }}</td>
                        </tr>
                        <tr>
                        <td>Career Opportunities Rating</td>
                        <td>{{ avg_ratings.avg_career_opportunities_rating|floatformat:1 }}</td>
                        </tr>
                        <tr>
                        <td>Work-Life Balance Rating</td>
                        <td>{{ avg_ratings.avg_work_life_balance_rating|floatformat:1 }}</td>
                        </tr>
                        <tr>
                        <td>Future Outlook</td>
                        <td>{{ avg_ratings.avg_future_outlook|floatformat:1 }}</td>
                        </tr>
                        </table>
            <h2>Recent Reviews</h2>
            {% for review in recent_reviews %}
                <div class="card mb-3">
                    <div class="card-header">
                        {{ review.user_status }} Employee - Overall Rating: {{ review.overall_rating }}
                    </div>
                    <div class="card-body">
                        <p>{{ review.review_text|truncatechars:100 }}</p>
                        <a href="{% url 'review_detail' review_id=review.id %}">Read Full Review</a>
                    </div>
                </div>
            {% endfor %}
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Write a Review</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="{% url 'create_employee_review' company_id=Company.id %}" class="btn btn-primary">As an employee</a>
                <a href="{% url 'create_non_employee_review' company_id=Company.id %}" class="btn btn-primary">As a non-employee</a>
            </div>
            </div>
            <a href="{% url 'company_reviews' company_id=Company.id %}" class="btn btn-secondary">See All Reviews</a>
        </div>
    </div>
</div>
</div>
</div>

<script>
// Get the elements
const aboutText = document.querySelector('.about-text');
const showMoreButton = document.querySelector('.show-more');

// Store the original text and truncated text
const originalText = aboutText.textContent;
const truncatedText = originalText.slice(0, 150);

// Set the initial truncated text
aboutText.textContent = truncatedText;

// Set up event listener for button click
showMoreButton.addEventListener('click', function(event) {
  event.preventDefault();
  if (aboutText.textContent === originalText) {
    aboutText.textContent = truncatedText;
    showMoreButton.textContent = 'Show more';
  } else {
    aboutText.textContent = originalText;
    showMoreButton.textContent = 'Show less';
  }
});

// Show button if text is longer than 150 characters
if (originalText.length > 150) {
  showMoreButton.style.display = 'inline';
} else {
  showMoreButton.style.display = 'none';
}
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>


{% endblock %}





