{% extends "base.html" %}
{% block title %}Company Page{% endblock %}

{% block content %}
{% load humanize %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">Institutional Holders</div>
        <div class="card-body p-0">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Shares (millions)</th>
                <th>Value ($M)</th>
              </tr>
            </thead>
            <tbody>
              {% for _, row in Institutional.iterrows %}
                <tr>
                  <td>{{ row.Holder }}</td>
                  <td>{{ row.Shares_M|floatformat:2|intcomma }}</td>
                  <td>{{ row.Value_M|floatformat:2|intcomma }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header">Mutual Fund Holders</div>
        <div class="card-body p-0">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Shares (millions)</th>
                <th>Value ($M)</th>
              </tr>
            </thead>
            <tbody>
              {% for _, row in MutualFunds.iterrows %}
                <tr>
                  <td>{{ row.Holder }}</td>
                  <td>{{ row.Shares_M|floatformat:2|intcomma }}</td>
                  <td>{{ row.Value_M|floatformat:2|intcomma }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <h1>{{ Company.Name }}</h1>
      {% if StockPrice %}
        <h3>Market cap($M): {{ MarketCap|floatformat:2|intcomma }}</h3>
      {% endif %}
      <hr>
      <p>Number of employees: 79,000</p>
      <p>Number of verified employees: {{ Employees }}</p>
      <p>Stock Price: ${{ StockPrice|floatformat:2 }}</p>
      <p>About: {{ Company.About }}</p>

      {% if user.is_authenticated and user.Company == Company %}
        <a href="{% url 'edit_company' Company.id %}" class="btn btn-primary">Edit Page</a>
      {% endif %}
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-4">
      {% if user.is_authenticated %}
      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
