{% extends "base.html" %}
{% load socialaccount %}
{% load account %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<style>
#new-post-form {
  margin-top: 0;
  padding: 0;
  border: none;
  border-radius: 5px;
}
.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

select.form-control {
  width: 100%;
}

textarea.form-control {
  height: 100px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}
</style>

<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-sm-2 col-md-2 col-lg-2 ml-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ user.username }}</h5>
          <div class="mt-3">
          <a href="{% url 'profile' user.id %}" class="btn btn-primary">Profile</a>
          <a class="btn btn-secondary" href="{% url 'alerts' %}">Alerts</a>
          <a class="btn btn-secondary" href="{% url 'inbox' %}">Messages</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Top Rated news in {{ user.Country }}</h3>
          {% for i in Articles %}
            <a href="{% url 'article' i.id %}">{{ i.Title }}</a> by {{ i.Newspaper }}<br>
            {% empty %}
            No posts yet!
            {% endfor %}
        </div>
      </div>
    </div>
    <div class="row justify-content-between">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <form id="new-post-form" method="POST">
  {% csrf_token %}
  <div class="form-group col-sm-12 col-md-12 col-lg-12">
    {{ form.text|as_crispy_field }}
  </div>
  <div class="form-group col-sm-12 col-md-12 col-lg-12">
    {{ form.Category|as_crispy_field }}
  </div>
  <button type="submit" class="btn btn-success">Create Post</button>
</form>
    <hr>
    <ul class="nav nav-tabs ">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#social-posts">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#national-posts">{{ user.Country }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#org-posts">{{ user.Company }}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="social-posts" class="tab-pane fade show active">
        <div class="card">
          <div class="card-body">
            <div id="post-list">
              <h2>Social Feed:</h2>
              {% for i in FriendsPosts %}
              <a href="{% url 'profile' i.Author.id %}">{{ i.Author }}</a> wrote: {{ i.Text }}<br>
              {% empty %}
              No posts yet!
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div id="national-posts" class="tab-pane fade">
        <div class="card">
          <div class="card-body">
            <div id="national-posts">
              <h2>National Posts:</h2>
              {% for post in NationalPosts %}
              <a href="{% url 'profile' post.Author.id %}">{{ post.Author }}</a> wrote: {{ post.Text }}<br>
              {% empty %}
              No national posts yet!
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div id="org-posts" class="tab-pane fade">
        <div class="card">
          <div class="card-body">
            <div id="org-posts">
              <h2>Organization Posts:</h2>
              {% for post in CompanyPosts %}
              <a href="{% url 'profile' post.Author.id %}">{{ post.Author }}</a> wrote: {{ post.Text }}<br>
              {% empty %}
              No organization posts yet!
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
</div>
</div>
<script>
  function submitForm() {
    $.ajax({
      type: "POST",
      url: window.location.href,
      data: $("#new-post-form").serialize(),
      success: function(response) {
        // Clear the form fields
        $("#id_Text").val("");
        $("#id_Category").val("");
        // Add the new post to the top of the post list
        $("#post-list").prepend(response);
      },
      error: function(response) {
        console.log("Error:", response);
      }
    });
  }

  $(function() {
    // Bind the submitForm() function to the form's submit event
    $('#new-post-form').on('submit', function(event) {
      event.preventDefault();
      submitForm();
    });

    // Connect to a WebSocket server for real-time updates
    const socket = new WebSocket('ws://' + window.location.host + '/ws/posts/');
    socket.onmessage = function(event) {
      const data = JSON.parse(event.data);
      // Add the new post to the top of the post list
      $("#post-list").prepend(data.html);
    };
  });
</script>
{% else %}

<p>You are not logged in</p>
<a href="{% url 'account_login' %}" class="btn btn-primary">Log In</a>
<a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
{% endif %}
{% endblock %}
