{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">

    <!-- Navigation panel -->
    <div class="col-md-2 col-sm-3 bg-light">
      <div class="pt-3">
    {% if request.user.ProfilePic %}
      <img src="{{ request.user.ProfilePic.url }}" alt="Profile Image" class="rounded-circle mx-auto d-block img-fluid" width="100">
    {% else %}
      <img src="{% static 'img/pfp.jpg' %}" alt="Profile Image" class="rounded-circle mx-auto d-block img-fluid" width="100">
    {% endif %}
        <h6 class="text-center mt-3">{{ request.user.username }}</h6>
      </div>
      <hr>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'inbox' %}">Inbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'outbox' %}">Sent Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Compose</a>
        </li>
      </ul>
    </div>

    <!-- Message list panel -->
    <div class="col-md-10 col-sm-9">
      <div class="pt-3 px-3">
        <h3 class="mb-3">Inbox</h3>
        <div class="list-group">
          {% for conversation in conversations %}
          <a href="{% url 'conversation' id=conversation.id %}" class="list-group-item list-group-item-action{% if conversation.is_read %} read{% endif %}">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ conversation.subject }}</h5>
              <small>{{ conversation.last_message.timestamp|date:"d M, Y h:i A" }}</small>
            </div>
            <p class="mb-1">{{ conversation.last_message.content|truncatewords:20 }}</p>
            <small class="text-muted">{{ conversation.last_message.sender.username }}</small>
          </a>
          {% empty %}
          <p>No messages yet.</p>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
