{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block head %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<style>
  .tab-content {
    height: auto;
  }
  .message-row {
    height: 50px;
    overflow: hidden;
  }
  .font-matching {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
    .fixed-height-btn {
    height: 30px;
  }
  .arrow-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid currentColor;
    margin-right: 5px;
  }

.select2-container--bootstrap4 .select2-results__option--highlighted[aria-selected]:hover {
  background-color: #007bff;
  color: #fff;
}
</style>

{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3">
      <div class="nav flex-column nav-pills me-3 custom1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <div class="pt-3">
          {% if request.user.ProfilePic %}
            <img src="{{ request.user.ProfilePic.url }}" alt="Profile Image" class="rounded-circle mx-auto d-block img-fluid" width="100">
          {% else %}
            <img src="{% static 'img/pfp.jpg' %}" alt="Profile Image" class="rounded-circle mx-auto d-block img-fluid" width="100">
          {% endif %}
          <h6 class="text-center mt-3">{{ request.user.username }}</h6>
          <hr>
        </div>
    <a class="nav-link {% if not open_new_message_tab %}active{% endif %}" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="{% if not open_new_message_tab %}true{% else %}false{% endif %}">Inbox</a>
        <a class="nav-link {% if open_new_message_tab %}active{% endif %}" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="{% if open_new_message_tab %}true{% else %}false{% endif %}">New Message</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Outbox</a>
        <a class="nav-link" id="v-pills-alerts-tab" data-toggle="pill" href="#v-pills-alerts" role="tab" aria-controls="v-pills-alerts" aria-selected="false">Alerts</a>
      </div>
    </div>
<div class="col-12 col-md-8 col-lg-9">
    <div class="tab-content custom2" id="v-pills-tabContent">
<!-- Inbox tab content -->
<div class="tab-pane fade {% if not open_new_message_tab %}show active{% endif %}" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    {% for conversation in conversations %}
        <div class="list-group-item list-group-item-action{% if conversation.is_read %} read{% endif %} position-relative">
            <div class="d-flex w-100 justify-content-between align-items-start">
                <div class="font-matching">
                    <h5 class="mb-1"><a href="{% url 'conversation' id=conversation.id %}">{{ conversation.subject }}</a></h5>
                    <p class="mb-1">
                        {% for participant in conversation.participants.all|slice:"5" %}
                            {{ participant.first_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        {% if conversation.participants.all|length > 5 %}
                            ... ({{ conversation.participants.all|length }} total)
                        {% endif %}
                    </p>
                    <small class="text-muted d-flex align-items-center">
                        <span class="arrow-up"></span>
                        {{ conversation.message_set.last.content|truncatechars:50 }}
                        <span class="ml-2">({{ conversation.message_set.last.timestamp|timesince }} ago)</span>
                    </small>
                </div>
                <div class="text-muted">
                    <small>{{ conversation.created_at|date:"F j, Y" }}</small><br>
                </div>
            </div>
            <a href="{% url 'delete_conversation' conversation_id=conversation.id %}" class="btn btn-danger btn-sm position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%);">Delete</a>
        </div>
    {% empty %}
        <p>No messages yet.</p>
    {% endfor %}
</div>


<!-- New Message tab content -->
<div class="tab-pane fade {% if open_new_message_tab %}show active{% endif %}" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
  <div class="card">
    <div class="card-header">
      New Message
    </div>
    <div class="card-body">
      <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group row">
          <label for="{{ form.participants.id_for_label }}" class="col-sm-2 col-form-label">Recipients:</label>
          <div class="col-sm-10">
            {% if prepopulated_participant %}
              <input type="text" value="{{ prepopulated_participant }}" disabled>
              <input type="hidden" name="participants" value="{{ prepopulated_participant }}">
            {% else %}
              {{ form.participants|add_class:"form-control rounded select2" }}
            {% endif %}
          </div>
        </div>
        <div class="form-group row">
          <label for="{{ form.subject.id_for_label }}" class="col-sm-2 col-form-label">Subject:</label>
          <div class="col-sm-10">
            {{ form.subject }}
          </div>
        </div>
        <div class="form-group row">
          <label for="{{ form.message.id_for_label }}" class="col-sm-2 col-form-label">Message:</label>
          <div class="col-sm-10">
            {{ form.message }}
            <small class="form-text text-muted">
              Characters remaining: <span id="remaining-chars">10000</span>
            </small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

        <!-- Outbox tab content -->
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          {% for message in outmessages %}
            <div class="message-item">
              <h5 class="mb-1">{{ message.conversation.subject }}</h5>
              <p>Participants: {% for participant in message.conversation.participants.all %}{% if participant != message.sender %}{{ participant.username }}{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}</p>
              <p>Message: {{ message.content }}</p>
              <p>Date: {{ message.timestamp }}</p>
              <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </div>
          {% empty %}
          <p>You have no messages in your outbox.</p>
          {% endfor %}
        </div>
              <!-- Alerts tab content -->
<div class="tab-pane fade" id="v-pills-alerts" role="tabpanel" aria-labelledby="v-pills-alerts-tab">
    {% if alerts %}
        {% for alert in alerts %}
            <div class="list-group-item list-group-item-action{% if not alert.read %} font-weight-bold {{ alert.mark_as_read }} {% endif %} d-flex align-items-start">
                <div class="d-flex justify-content-between w-100">
                    <div class="fw-bold">{{ alert.actor.username }} {{ alert.verb }}{% if alert.target %}
                    <div>{{ alert.target }}</div>
                    {% endif %}
                    </div>
                    <div>
                        <small class="text-muted">{{ alert.timestamp|timesince }} ago</small>
                        <a href="{% url 'delete_alert' alert.id %}" class="btn btn-danger btn-sm ml-2">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="lead">No new alerts.</p>
    {% endif %}
</div>
</div>
</div>

  </div>
</div>
<script>
$(document).ready(function() {
    // Initialize select2
    $('select').select2();

    // Humanize timestamps
    $('.humanize-timestamp').each(function() {
        var timestamp = $(this).data('timestamp');
        var humanized = humanizeDuration(new Date() - new Date(timestamp), { largest: 1, round: true });
        $(this).text(humanized + ' ago');
    });
});

</script>
<script>
  $(document).ready(function() {
    $('.select2').select2({
      theme: 'bootstrap4',
      placeholder: 'Select recipients',
      allowClear: true,
    });
  });

  $(document).on('select2:open', () => {
    let allFound = document.querySelectorAll('.select2-container--open .select2-search__field');
    allFound[allFound.length - 1].focus();
  });
</script>

<script>
const messageField = document.getElementById('{{ form.message.id_for_label }}');
const remainingChars = document.getElementById('remaining-chars');
const maxChars = 10000;

messageField.addEventListener('input', updateRemainingChars);

function updateRemainingChars() {
  const currentLength = messageField.value.length;
  const remaining = maxChars - currentLength;
  remainingChars.textContent = remaining;
}

updateRemainingChars();
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let hash = window.location.hash;
        if (hash) {
            // Deactivate the currently active tab
            document.querySelector('.nav-link.active').classList.remove('active');
            document.querySelector('.tab-pane.active').classList.remove('active', 'show');

            // Activate the tab corresponding to the URL fragment
            let targetNavLink = document.querySelector(`.nav-link[href="${hash}"]`);
            let targetTabPane = document.querySelector(hash);
            if (targetNavLink && targetTabPane) {
                targetNavLink.classList.add('active');
                targetTabPane.classList.add('active', 'show');
            }
        }
    });
</script>

{% endblock %}

