{% extends "base.html" %}

{% block title %}
Job Market12
{% endblock %}

{% block head %}
<style>
    .table {
        width: 1500px;
    }
     .table-responsive {
        overflow-x: auto;
        min-width: 100%;
        display: flex;
        justify-content: center;
    }
</style>
{% endblock %}

{% load widget_tweaks %}
{% load humanize %}
{% block content %}
<div class="d-flex justify-content-center">
    <input type="text" id="myInput" class="form-control" placeholder="Search Jobs" style="width: 1500px;">
</div>
<div class="d-flex justify-content-center">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter
    </button>
    <a href="{% url 'filtered_jobs' %}" class="btn btn-link text-primary ml-2">Reset</a>
    <div class="dropdown-menu p-4 rounded" aria-labelledby="dropdownMenuButton" style="position: absolute; z-index: 1; width: 300px;">
        <h5>Customize your job search</h5>
        <hr>
      <form method="get">
        <div class="form-group">
          <label for="{{ job_filter.form.Company.id_for_label }}" class="font-weight-bold mb-2">Company</label>
          {{ job_filter.form.Company|add_class:"form-control rounded mb-3" }}
        </div>
        <div class="form-group">
          <label for="{{ job_filter.form.Experience_Level.id_for_label }}" class="font-weight-bold mb-2">Experience Level</label>
          {{ job_filter.form.Experience_Level|add_class:"form-control rounded mb-3" }}
        </div>
        <div class="form-group">
          <label for="{{ job_filter.form.salary_min.id_for_label }}" class="font-weight-bold mb-2">Salary Min</label>
          {{ job_filter.form.salary_min|add_class:"form-control rounded mb-3" }}
        </div>
        <div class="form-group">
          <label for="{{ job_filter.form.salary_max.id_for_label }}" class="font-weight-bold mb-2">Salary Max</label>
          {{ job_filter.form.salary_max|add_class:"form-control rounded mb-3" }}
        </div>
        <div class="form-group">
          <label for="{{ job_filter.form.Date_Posted.id_for_label }}" class="font-weight-bold mb-2">Date Posted</label>
          {{ job_filter.form.Date_Posted|add_class:"form-control rounded mb-3" }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block rounded">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="d-flex">
    <div class="table-responsive">
        <table class="table table-striped" style="position: relative; z-index: 0;" id="myTable">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Title</th>
                    <th>Level</th>
                    <th>Salary</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th>Posted/Updated</th>
                    <th>Openings</th>
                    <th>Applicants</th>
                    <th>URL</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for job in job_filter.qs %}
                    <tr>
                        <td>
                            {% if job.Company %}
                                <a href="{% url 'company' id=job.Company.id %}" class="text-primary">{{ job.Company }}</a>
                            {% else %}
                                This job does not have a Company!
                            {% endif %}
                        </td>
                        <td>{{ job.Job_Title }}</td>
                        <td>{{ job.Experience_Level }}</td>
                        <td>${{ job.salary_min|floatformat:0|intcomma }} - ${{ job.salary_max|floatformat:0|intcomma }}/year</td>
                        <td>{{ job.Category }}</td>
                        <td>{{ job.Location }}</td>
                        <td>{{ job.Date_Posted|date:"F j, Y" }}</td>
                        {% if job.NumberRecruiting %}
                        <td>{{ job.NumberRecruiting }}</td>
                        {% else %}
                        <td>Unknown</td>
                        {% endif %}
                        <td>{{ job.total_applicants }}</td>
                        <td>
                            <a href="{{ job.ApplicationURL }}" class="btn btn-outline-primary">Apply</a>
                        </td>
                        {% if job.id in job_applications_by_me %}
                            <td>
                                <form method="POST" action="{% url 'job_applications' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success">Applied</button>
                                </form>
                            </td>
                        {% else %}
                            <td>
                                <form method="POST" action="{% url 'apply_to_job' id=job.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-primary">Mark as Applied</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}