{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>My Job Posts</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    {% for job_post in job_posts_by_me %}
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ job_post.Job_Title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ job_post.Company }}</h6>
          <p class="card-text job-description">{{ job_post.Job_Description|truncatewords:50 }}</p>
          <p class="card-text"><strong>Location:</strong> | {% for i in job_post.Location.all %} {{ i }} | {% endfor %}</p>
          <p class="card-text"><strong>Categories:</strong> {% for i in job_post.Category.all %} {{ i }} | {% endfor %}</p>
          <p class="card-text"><strong>Posted On:</strong> {{ job_post.Date_Posted }}</p>
          <a href="{% url 'job_applicants' job_id=job_post.id%}" class="btn btn-primary">View Applicants</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
