{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <h1>Create a new job listing</h1>

      <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary mt-4">Publish</button>
      </form>
    </div>
  </div>

<script>
    $(document).ready(function() {
        $('#id_Location').select2({
            placeholder: 'Enter locations where the job will be available (e.g. New York, Los Angeles, San Francisco)',
            allowClear: true
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('#id_Company').select2({
            placeholder: 'Choose the company you are making a job posting for',
            allowClear: true
        });
    });
</script>


{% endblock %}
