{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="display-5 mb-4">Projects:</h1>
      <div class="d-flex flex-wrap">
        <a href="{% url 'new_project' %}" class="btn btn-success">Create a project</a>
        <a href="#" class="btn btn-outline-primary ml-3">My Projects</a>
        <a href="#" class="btn btn-outline-primary ml-3">Projects I've Applied To</a>
      </div>
    </div>
    <div class="row">
      {% for project in projects %}
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" href="{% url 'project' id=project.id %}">{{ project.title }}</h5>
              <p class="card-text">{{ project.description }}</p>
              <p class="card-text"><small class="text-muted">Created by {{ project.owner }}</small></p>
              <p class="card-text"><strong>Skills:</strong>
              {% for skill in project.required_skills.all %}
                <span class="badge badge-secondary bg-info">{{ skill.name }}</span>
              {% empty %}
                <span class="badge badge-secondary bg-info">None</span>
              {% endfor %}
              </p>
              <a href="{% url 'project' id=project.id %}" class="btn btn-primary">View Project</a>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="col-md-12">
          <div class="alert alert-info" role="alert">
            No projects yet.
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}