{% extends "base.html" %}

{% block content %}
  <h2>Review for {{ review.company.Name }}</h2>
  <p><strong>User Status:</strong> {{ review.user_status }} Employee</p>
  <p><strong>Overall Rating:</strong> {{ review.overall_rating }}</p>
  <p><strong>Culture and Values Rating:</strong> {{ review.culture_and_values_rating }}</p>
  <p><strong>Senior Leadership Rating:</strong> {{ review.senior_leadership_rating }}</p>
  <p><strong>Compensation and Benefits Rating:</strong> {{ review.compensation_and_benefits_rating }}</p>
  <p><strong>Career Opportunities Rating:</strong> {{ review.career_opportunities_rating }}</p>
  <p><strong>Work-Life Balance Rating:</strong> {{ review.work_life_balance_rating }}</p>
  <p><strong>Future Outlook:</strong> {{ review.future_outlook }}</p>
  <p><strong>Review Text:</strong></p>
  <p>{{ review.review_text }}</p>
{% endblock %}
