{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    
    <h3 class="h3" id="head_banner">{% trans "Change Password" %}</h3>

    <form method="POST" action="{% url 'account_change_password' %}" class="container-fluid text-center" id="change_password_form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
 </div>
{% endblock %}
